{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">Fuel Quote</h3>
      <div class="form-group">
            <label for="gallonsRequested">Gallons Requested :</label>
            <input type="number" name="gallons" id="gallons" maxlength="50" required>
          </p>
          <p>
            <label for="deliveryAddress">Delivery Address:</label> 
            
          </p>
    
    
          <p>
           <label for="start">Delivery Date:</label>
    
    <input type="date" id="start" name="trip-start"
           value="2018-07-22"
           min="2023-01-01" max="2023-12-31">
    
          </p>
          <p>
            <label for="priceToGallon">Suggested Price per Gallon: $</label> 
            
          </p>
          
                <p>
            <label for="totalAmountDue">Total Amount Due : $</label> 
        
      </p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
    